$font-s: 20px;
$font-m: 32px;
$font-l: 40px;
$font-xl:128px;
$lh-s: 48px;
$lh-m: 60px;
$lh-l: 192px;
$primary: blue;
$secondary: #EFEFEF;
$danger: #AE0000;
$mb-s: 8px;
$mb-m: 16px;
$mb-l: 40px;
$mb-sm:12px;


